<header class="header">
    <h1 class="header__h1">CS235 2023: My Game Library</h1>
    <h2 class="header__h2">&copy; jgom527 | jshe426 | mwu596</h2>
    <div class="header__links">
        {% if 'username' in session %}
        Logged in as <a href="{{ url_for("profile_bp.user_profile") }}"><i>{{ session['username'] }}</i></a>. <a href="{{ url_for("authentication_bp.logout") }}">Log Out?</a>
        {% else %}
            <a href="{{ url_for("authentication_bp.register") }}">Sign Up</a> or <a href="{{ url_for("authentication_bp.login") }}">Sign In</a></div>
        {% endif %}
</header>