{% extends 'layout.html' %}
{% block head %}
    {{ super() }}
    <!-- Add in authentication CSS stylesheet -->
    <link rel="stylesheet" href={{ url_for('static', filename='css/authentication.css') }} />
{% endblock %}
{% block content %}
    <div class="form__wrapper">
        <h1 class="form__title">{{ form_title }}</h1>
        <form method="POST" action="{{ handler_url }}">
            {{ form.csrf_token }} <!-- Need to include this token as Flask WTForms requires it -->
            <div class="form__field">{{ form.username.label }} {{ form.username(placeholder="Username goes here", class_="has_error" if form.username.errors or username_error_message is not none) }}
                {% if form.username.errors or username_error_message is not none %}
                    <ul class="form__errors">
                        {%  if username_error_message is not none %}
                            <li>
                                {{ username_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            <div class="form__field">{{ form.password.label }} {{ form.password(placeholder="Password here", class_="has_error" if form.password.errors or password_error_message is not none) }}
                {% if form.password.errors or password_error_message is not none %}
                    <ul class="form__errors">
                        {%  if password_error_message is not none %}
                            <li>
                                {{ password_error_message }}
                            </li>
                        {% endif %}
                        {% for error in form.password.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% if form.password_confirmation %}
                <div class="form__field">{{ form.password_confirmation.label }} {{ form.password_confirmation(placeholder="Password confirmation") }}
                {% if form.password_confirmation.errors %}
                    <ul class="form__errors">
                        {% for error in form.password_confirmation.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </div>
            {% endif %}
            {{ form.submit }}
        </form>
    </div>
{% endblock %}